@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
    color: #222222;
  }

  @media only screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .rotate3d-180deg {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  .-rotate3d-180deg {
    transform: rotate3d(0,1,0, -180deg);
  }

  .shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 1; 
  }
  @keyframes shake{
    0% { transform: scale3d(1, 1, 1); }
    10%, 20%{ transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
    30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
    40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
    100% { transform: scale3d(1, 1, 1); } 
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}